@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

:root {
    --primary-color: #4592b0;
    --danger-color: #b04545;

    --background-color: #e9eff3;
    --border-color: #c3c4c7;

    --focus-border-color: #2271b1;
    --focus-shadow-color: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

    --input-border-hover-color: #a7aaad;

    --checkbox-hover-color: #35e07d;
    --checkbox-checked-color: #27ae60;
    --checkbox-mark-color: #fff;
    --checkbox-disabled-color: #aaa;
    --checkbox-disabled-background-color: #ccc;
    --checkbox-disabled-border-color: #999;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
}

/* BUTTON STYLES */
/* button resets */
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
/* end button resets */

.btn {
    display: inline-block;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
}

.btn:active {
    transform: translateY(1px);
    filter: saturate(400%);
}

.btn:focus {
    border-color: var(--focus-border-color);
    outline: none;
    box-shadow: var(--focus-shadow-color);
}

.btn::-moz-focus-inner {
    border: none;
}

.btn:hover {
    color: var(--primary-color);
    border-color: currentColor;
    background-color: #fff;
}
/* END BUTTON STYLES */

/* FORM STYLES */
label:not(.checkbox-label) {
    display: block;
    padding: 1rem 0 0.25rem;
    font-weight: 300;
    cursor: pointer;
}

input:not([type="checkbox"]) {
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:not([type="checkbox"]):hover {
    border-color: var(--input-border-hover-color);
}

input:not([type="checkbox"]):focus {
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-shadow-color);
    outline: none;
}

/* checkbox styles */
.checkbox-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-container label {
    font-weight: 300;
    line-height: 100%;
    cursor: pointer;
    display: flex;
}

.checkbox-container input[type="checkbox"] {
    cursor: pointer;
    /* supports screen readers */
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 0.15em;
    margin-right: 0.5em;
    border: 0.05em solid black;
}

.checkbox-container label:hover::before,
.checkbox-container input[type="checkbox"]:hover + label::before {
    background-color: var(--checkbox-hover-color);
}

.checkbox-container input[type="checkbox"]:focus + label::before {
    box-shadow: var(--focus-shadow-color);
}

.checkbox-container input[type="checkbox"]:disabled + label,
.checkbox-container input[type="checkbox"]:disabled {
    color: var(--checkbox-disabled-color);
    cursor: default;
}

.checkbox-container input[type="checkbox"]:checked + label::before {
    content: "\002714";
    background-color: var(--checkbox-checked-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--checkbox-mark-color);
}

.checkbox-container input[type="checkbox"]:disabled + label::before {
    background-color: var(--checkbox-disabled-background-color);
    border-color: var(--checkbox-disabled-border-color);
}
/* END FORM STYLES */

/* TABLE STYLES */
.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
}

.table td,
.table th {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: var(--border-color);
}

.table td {
    font-weight: 300;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 500;
}
/* END TABLE STYLES */

.container {
    margin: 4rem auto;
    width: 50%;
    min-width: -moz-fit-content;
    min-width: fit-content;
    border: 3px solid black;
    padding: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* this is to hide banner when fades out */
    overflow: hidden;
}

.container > header {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    font-weight: 300;
}

#btn-add-book {
    margin-bottom: 2rem;
}

#form-store-book {
    margin-bottom: 2rem;
    border: 2px solid black;
    padding: 2rem;
    border-radius: 5px;
    display: none;
    position: relative;
    transition: 3s;
}

#form-store-book > input {
    margin-bottom: 1rem;
}

#btn-close-form {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 3rem;
}

.btn-submit {
    width: 100%;
}

.btn-danger {
    color: black;
}

.btn-danger:hover {
    color: #fff;
    background-color: var(--danger-color);
}

.btn-toggle-read {
    color: var(--checkbox-checked-color);
}

.btn-toggle-read:hover {
    background-color: transparent;
    /* color: #fff; */
    /* background-color: var(--danger-color); */
}

.btn-toggle-not-read {
    background-color: transparent;
    color: var(--danger-color);
}

.btn-toggle-not-read:hover {
    background-color: transparent;
    /* color: #fff; */
    /* background-color: var(--checkbox-checked-color); */
}

.btn-table {
    font-size: 1.3rem;
    padding: 0.2em;
}

.btn-square {
    margin: 0;
    padding: 0.05em;
    line-height: 0.5;
    border-radius: 2px;
    background-color: transparent;
}

.btn-square:hover,
.btn-square:focus {
    border-color: transparent;
}

.error {
    display: block;
    width: 100%;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    background-color: var(--danger-color);
    border-radius: 0 0 5px 5px;
}

.error.active {
    padding: 0.4em;
}

.error.active:last-of-type {
    margin-bottom: 2rem;
}

.table .text-align-center {
    text-align: center;
}

.event-banner {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 0.5rem;
    padding: 0.4em;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}

.event-banner-danger {
    background-color: var(--danger-color); 
}
.event-banner-success {
    background-color: var(--checkbox-checked-color); 
}

.event-banner-animate {
    -webkit-animation: slide-out-blurred-right 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    animation: slide-out-blurred-right 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-4 15:20:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-blurred-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
            transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
            transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}

